html, body {
    margin: 0;
    padding: 0;
    font-family: Roboto, Arial, SansSerif, serif;
    height: 100%;
    width: 100%;
}

body {
    padding: 2rem;
    box-sizing: border-box;
}

main {
    height: 100%;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    border-radius: 10px;
}

#chats-list-panel {
    background-color: #eaeaea;
    flex-grow: 1;
}

#chat-panel {
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    flex-grow: 5;
}

#chat-header {
    padding: 0.5rem 1rem;
    background-color: gray;
}

#chat-content {
    overflow-y: scroll;
    flex-grow: 1;
}

#chats-header {
    padding: 0.5rem 1rem;
    background-color: gray;
}

#chat-input-area {
    padding: 0.5rem 1rem;
    background-color: gray;
    display: flex;
    align-items: center;
}

#chat-input-area input {
    flex-grow: 1;
}

#chats-list {
    margin: 0;
    list-style: none;
    padding: 0;
    overflow-y: scroll;
    scroll-behavior: smooth;
    height: auto;
}

#chats-list li {
    padding: 1rem;
    border-bottom: 1px solid gray;
    transition: .2s;
}

#chats-list li:hover {
    cursor: pointer;
    background: lightgray;
    transition: .2s;
}

.selected-element {
    background: lightgray;
}

.chat-h1 {
    margin: 0;
    font-size: 1.5rem;
}

.message {
    display: inline-flex;
    width: 100%;
}

.message-right {
    justify-content: flex-end;
}

.message div {
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 0.5rem;
    margin: 1rem;
}

.message-left div {
    background-color: dodgerblue;
}

.message-right div {
    background-color: limegreen;
}

.message h1 {
    margin: 0.25rem;
    font-size: 1rem;
}